.Board {
  position: relative;
  margin: 0 auto;
  background-color: #000;
  background-image: linear-gradient(#333 1px, transparent 1px),
    linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
  background: #ccc;
  position: absolute;
}

.rules {
  margin-bottom: 2%;
}

.game {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons {
  margin-left: 0.5%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.inputButtons {
  margin-left: 5%;
}

.Input {
  margin-top: 2%;
}
